<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Подача заявки</title>
	  <base href="/">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/StyleApp.css}">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div id="form_background">
	<form>
		<div id="nameForm">Заявка №(число)</div>
		<div id="address">
			<div><label for="">Улица *</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
			<div><label for="">Дом *</label><br><input class="AddressThirdWidth" name="" type="text" required></div>
			<div><label for="">Корпус</label><br><input class="AddressThirdWidth" name="" type="text" required></div>
			<div><label for="">Квартира *</label><br><input class="AddressThirdWidth" name="" type="text" required></div>
			<div><label for="">Фамилия *</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
			<div><label for="">Имя *</label><br><input class="AddressSecondWidth" name="" type="text" required></div>
			<div><label for="">Отчество *</label><br><input class="AddressSecondWidth" name="" type="text" required></div>
			<div><label for="">Телефон</label><br><input class="AddressFirstWidth" name="" type="telephon" required></div>
			<div><label for="">Электронная почта *</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
			<div><label for="">Тема Обращения *</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
			<div><label for="comment">Ваше Сообщение *</label><br><textarea id="comment" name="comment"></textarea></div>
			<div id="loadFile"><label for="file">Файл</label><br><img id="ico"><input type="file" name="file" value="выбрать файл"></div>
		</div>
		<div id="submission">
			<input name="" type="submit" value=""><label for="">Отправить</label>
		</div>
	</form>
	<div id="">* Обязательное поле</div>
	</div>
	<a id="" href="">Служба поддержки</a>
  </body>
</html>