<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" th:each="clientt : ${listClient}">
    <th>No</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Telephone</th>
    <th>Action</th>
        <tr>
            <td th:text="${clientt.name}"></td>
            <td th:text="${clientt.email}"></td>
            <td th:text="${clientt.phoneNumber}">}</td>
        </tr>
</table>
<label th:text="${client.email}"></label>

</body>
</html>